body{
  background-color: black;
}
.textBox{
  color: #f0FFF0;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  display: block;
  border: 2px solid hsl(100, 75%, 49%);
  padding-left: 20px;
  letter-spacing: 3px;
}
.row1{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.row2{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.row3{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.row4{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}

.number{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(51, 51, 51);
  color: greenyellow;
}
.opp{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  font-size: 35px;
  font-weight: 500;
  background-color: darkgreen;
  color: aliceblue;
}
.clear{
  display: inline-block;
  width: 430px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: darkgreen;
  color: aliceblue;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 4px;
}

 

